.board 
{
    position:relative;
	clear:both;
	
}
.boardTitle
{
	clear:both;
	
}
h1{
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
h2
{
	margin-bottom:4px;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
.list > h1
{
	margin:5px;

}
.story > h2{

}
paper-progress::shadow #activeProgress {
	background-color:#4285f4;
}
.board > .list 
{
	float:left;
    width:300px;
    margin-left:5px;
    background-color:#4285f4;
	border-radius:5px;
}
.status-ok, .status-warning, .status-at_risk
{
	float:left;
	width:10px;
	height:60px;
	margin-right:4px;
}
.status-ok
{
	background-color:green;
}
.status-warning
{
	background-color:yellow;
}
.status-at_risk
{
	background-color:red;
}
.taskList 
{
	list-style-type:none;
	min-height: 50px;
	padding-left:15px;
	padding-right:15px;
	
	
}

.taskList  li
{
	display:block;
	background-color:white;
	overflow:hidden;
	margin-bottom:6px;
}
h2
{
	margin-top:0px;
}

/* Selection Disabled For Drag and Drop*/
p::selection, h1::selection, h2::selection, ol::selection, li::selection,
.board::selection, .list::selection{
	background: transparent 
}

.fab {
  position: relative;
  display: block;
  margin:4px;
  float:right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: #4285f4;
}
.create{
   position: absolute;
   left: 250px;
   top: 10px;
  display: block;
  margin:4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: #4285f4;
}
    
.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.fab paper-button-base {
	width:30px;
	height:30px;
}
.fab  core-icon {
	float:left;
  margin: 6px;
  width:18px;
  height:18px;
}

.fab core-icon::shadow path {
  fill: #fff;
}

.create:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.create paper-button-base {
	width:30px;
	height:30px;
}
.create  core-icon {
	float:left;
  margin: 12px;
  width:26px;
  height:26px;
}

.create core-icon::shadow path {
  fill: #fff;
}

